INGEST_SOURCE=$"INGEST_SOURCE"
KAFKA_BOOTSTRAP=$"KAFKA_BOOTSTRAP"
KAFKA_TOPIC=$"KAFKA_TOPIC"
KAFKA_SECURITY_PROTOCOL=$"KAFKA_SECURITY_PROTOCOL"
KAFKA_GROUP_ID=$"KAFKA_GROUP_ID"

RAW_DIR=$"RAW_DIR"
OUT_DIR=$"OUT_DIR"
BATCH_MAX_MSG=$"BATCH_MAX_MSG"
BATCH_MAX_SEC=$"BATCH_MAX_SEC"

ANGULAR_PORT=$"ANGULAR_PORT"

SCRAPER_PORT=$"SCRAPER_PORT"
KAFKA_PORT=$"KAFKA_PORT"