INGEST_SOURCE=$"INGEST_SOURCE"

CRYPTO_VIZ_PARQUET_GLOB=$CRYPTO_VIZ_PARQUET_GLOB
CRYPTO_VIZ_WAREHOUSE_DB=$CRYPTO_VIZ_WAREHOUSE_DB
CRYPTO_VIZ_BASE_DIR=$CRYPTO_VIZ_BASE_DIR

RAW_DIR=$"RAW_DIR"
OUT_DIR=$"OUT_DIR"
BATCH_MAX_MSG=$"BATCH_MAX_MSG"
BATCH_MAX_SEC=$"BATCH_MAX_SEC"

ANGULAR_PORT=$"ANGULAR_PORT"

SCRAPER_PORT=$"SCRAPER_PORT"

KAFKA_BOOTSTRAP=localhost:2111
KAFKA_TOPIC=crypto-viz
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_REQUEST_TIMEOUT_MS=20000
KAFKA_API_TIMEOUT_MS=10000
SYMBOLS_PARQUET=../data/clean/parquet/symbols/symbols.parquet
SYMBOLS_BATCH_SIZE=200
SYMBOLS_FLUSH_SECS=15