INGEST_SOURCE=$"INGEST_SOURCE"

CRYPTO_VIZ_PARQUET_GLOB=$CRYPTO_VIZ_PARQUET_GLOB
CRYPTO_VIZ_WAREHOUSE_DB=$CRYPTO_VIZ_WAREHOUSE_DB
CRYPTO_VIZ_BASE_DIR=$CRYPTO_VIZ_BASE_DIR

RAW_DIR=$"RAW_DIR"
OUT_DIR=$"OUT_DIR"
BATCH_MAX_MSG=$"BATCH_MAX_MSG"
BATCH_MAX_SEC=$"BATCH_MAX_SEC"

ANGULAR_PORT=$"ANGULAR_PORT"

SCRAPER_PORT=$"SCRAPER_PORT"
