# ====================
# Python
# ====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/
.env
*.log
*.pot
*.mo
*.pyc

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# ====================
# Scala / sbt
# ====================
target/
project/target/
project/project/
*.class
*.jar
*.war
*.ear
*.log

# IntelliJ IDEA / Eclipse
.idea/
*.iml
*.ipr
*.iws
*.class
*.log

# ====================
# Angular / Node
# ====================
node_modules/
dist/
tmp/
out-tsc/
.angular/
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/


target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Scala ###
.bsp/