<div class="switcher">
  <button
    class="tab"
    [class.active]="view === 'timeseries'"
    (click)="select('timeseries')">
    <mat-icon>timeline</mat-icon>
    Time Series
  </button>

  <button
    class="tab"
    [class.active]="view === 'trending'"
    (click)="select('trending')">
    <mat-icon>trending_up</mat-icon>
    Trending Now
  </button>

  <button
    class="tab"
    [class.active]="view === 'topGainers'"
    (click)="select('topGainers')">
    <mat-icon>arrow_upward</mat-icon>
    Top Gainers
  </button>

  <button
    class="tab"
    [class.active]="view === 'topLosers'"
    (click)="select('topLosers')">
    <mat-icon>arrow_downward</mat-icon>
    Top Losers
  </button>

  <button
   class="tab"
   [class.active]="view === 'ecartTypeGlissant'"
   (click)="select('ecartTypeGlissant')">
   <mat-icon>trending_down</mat-icon>
   Écart-type glissant
  </button>

  <button
   class="tab"
   [class.active]="view === 'rsi'"
   (click)="select('rsi')">
   <mat-icon>show_chart</mat-icon>
   RSI
  </button>

</div>

<div class="panel">
  <app-time-series *ngIf="view === 'timeseries'"></app-time-series>

  <app-trending-now
    *ngIf="view === 'trending'"
    [window]="'1h'"
    [baseline]="'24h'"
    [limit]="5"
    [autoRefreshSec]="60">
  </app-trending-now>

  <app-top-gainers *ngIf="view === 'topGainers'"></app-top-gainers>

  <app-top-losers *ngIf="view === 'topLosers'"></app-top-losers>

  <app-ecart-type-glissant *ngIf="view === 'ecartTypeGlissant'"></app-ecart-type-glissant>

  <app-rsi *ngIf="view === 'rsi'"></app-rsi>
</div>
